@import "tailwindcss";

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #1db954;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1ed760;
}
